.active-draw-img {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  z-index: 1;
}
.active-draw-img-active {
  opacity: 1;
  transition: opacity 1s;
}
.active-draw-svg {
  position: absolute;
  width: inherit;
  height: inherit;
}
.active-draw-svg polyline {
  stroke-dasharray: var(--offset);
  stroke-dashoffset: var(--offset);
  stroke: black;
  transition: stroke-dashoffset 4s;
}
.active-draw-svg-active polyline {
  stroke-dashoffset: 0;
}