magic-img {
  position: relative;
  display: inline-block;
}

.magic-placeholder,.magic-target {
  width: inherit;
  height: inherit;
}

.magic-target {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  opacity: 0;
}

.magic-placeholder polyline {
  stroke-dasharray: var(--offset);
  stroke-dashoffset: var(--offset);
  stroke: black;
}

.magic-target[status=from] {
  opacity: 0;
}

.magic-placeholder[status=from] polyline {
  transition: stroke-dashoffset 4s;
  stroke-dashoffset: 0;
}

.magic-target[status=to] {
  opacity: 1;
  transition: opacity 0.5s;
}